.element__heart_active {
    margin-right: 20px;
    width: 22px;
    height: 19px;
    background-image: url(../../../../images/active.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.element__heart_active:hover {
    opacity: 0.5;
}