.edit-button__icon {
    margin: auto auto auto -2px;
    width: 10px;
    height: 10px;
}

@media (max-width: 740px) {
    .edit-button__icon {
        margin: auto;
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 680px) {
    .edit-button__icon {
        width: 7px;
        height: 7px;
    }
}