.element__delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    left: 244px;
    cursor: pointer;
}
.element__delete:hover {
    opacity: 0.6;
}