.popup__container {
    margin: 0 auto;
    padding: 34px 36px 37px 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    max-width: 430px;
    width: 100%;
}

@media (max-width: 460px) {
    .popup__container {
        margin: 0 20px;
        padding: 25px 22px;
    }
}