.popup__save-button {
    margin: 48px 0 0 0;
    padding: 0;
    background-color: #000;
    border: none;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 400px) {
.popup__save-button {
        margin-top: 45px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__save-button:hover {
    opacity: 0.8;
}
